@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* ==========================================================================
Fonts
========================================================================== */
@font-face {
	font-family: 'Affogato-Black';
	src: url('../fonts/Affogato/Affogato-Black.eot');
	src: url('../fonts/Affogato/Affogato-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Black.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Black.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Black.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Bold';
	src: url('../fonts/Affogato/Affogato-Bold.eot');
	src: url('../fonts/Affogato/Affogato-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Bold.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Bold.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Bold.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Medium';
	src: url('../fonts/Affogato/Affogato-Medium.eot');
	src: url('../fonts/Affogato/Affogato-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Medium.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Medium.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Medium.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Regular';
	src: url('../fonts/Affogato/Affogato-Regular.eot');
	src: url('../fonts/Affogato/Affogato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Regular.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Regular.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Regular.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Affogato-Light';
	src: url('../fonts/Affogato/Affogato-Light.eot');
	src: url('../fonts/Affogato/Affogato-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Light.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Light.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Light.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
 *overflow:visible;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, img, main {
	display: block
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

.clear {
	clear: both;
	line-height: 0;
	height: 0;
}

a {
	text-decoration: none;
	outline: none;
	color: #44aefb;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}

p {
	color: #454545;
	font-family: "Playfair Display", serif;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

a:focus, img:focus, button:focus, .btn:focus {outline: none;}

::-moz-selection {background-color:#44aefb;color:#fff;text-shadow:none;}

::selection {background-color: #44aefb;color: #fff;text-shadow: none;}

.main-button > button {
	color: #f5f5f5;
	background-color: #454545 !important;
	border-color: #454545 !important;
	text-transform: uppercase;
}
.main-button {
	padding-top: 2em;
	display: block;
	text-align: center;
	font-family: 'Affogato-Regular', 'Open Sans', sans-serif;
}
.main-button :hover .btn-theme {
	background: -webkit-linear-gradient(#99D22B, #FBFF00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ==========================================================================
Header
========================================================================== */

header[role="header"]{
	padding-top:80px;
	padding-bottom:39px;
}

header[role="header"] h1{
	padding:0;
	margin:0
}

header[role="header"] h1 > a{
	max-width:66px;
	display:block;
	float:left;
}

header[role="header"] nav{
	float: right;
	padding-top:10px;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}

header[role="header"] nav ul{
	display:none;
	position: fixed;
	z-index:60;
	text-align:center;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	background-color: rgba(71, 71, 71, 0.8);
	padding:0; margin:0;
	padding-top:199px;
}

header[role="header"] nav ul > li{
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	font-weight:800;
	font-size:50px;
	display:block;
}

header[role="header"] nav ul > li > a{
	display:block;
	line-height:72px;
	color: #f6f6f6;
}

header[role="header"] nav ul > li:hover a,header[role="header"] nav ul > li.nav-active a{
	text-decoration:none;
	color:#d8c370;
	width: 100%;
}

header[role="header"] nav #menu-button {
	float: right;
	position: fixed;
	z-index:70;
	display:block;
	width:60px;
	height:60px;
	background-color:#8591c9;
	color:#454545;
	line-height:60px;
	font-size:30px;
	border-radius:100%;
	text-align:center;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

/* ==========================================================================
Main
========================================================================== */
.main-wrapper {
	height: 100vh;
	padding-left: 90px;
	/*overflow: hidden;*/
}

.section {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding-left: 70px;
	/* Force Hardware Acceleration */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0s 0.5s;
	-moz-transition: -moz-transform 0s 0.5s;
	transition: transform 0s 0.5s;
}
.section.overflow-hidden {
	/* this class is used to hide the scrolling bar while a new section is entering the viewport */
	overflow: hidden;
}

.section.visible {
	z-index: 2;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 0.5s 0s;
	-moz-transition: -moz-transform 0.5s 0s;
	transition: transform 0.5s 0s;
}

.section,main[role="main-inner-wrapper"] {
	padding:90px 0;
	position: relative;
}

.section article[role="pge-title-content"],main[role="main-inner-wrapper"] article[role="pge-title-content"]{
	padding-left:41px;
}

.section article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{
	padding-bottom:50px;
}

.section h2{
	font-family: 'Affogato-Regular', 'Open Sans', sans-serif;
	font-size:50px;
	color:#fbfdff;
	font-weight:600;
	margin-top: 0;
}

.section h2 span{
	display:block;
	font-family: 'Affogato-Regular', 'Open Sans', sans-serif;
	font-size:80px;
	line-height: 100px;
	color:#8591c9;
}

.section p{
	font-family: "Playfair Display", serif;
	font-size:18px;
	line-height:30px;
	color:#454545;
}



/* ==========================================================================
Footer
========================================================================== */

.footer {
	background-color:#454545;
	padding-top:30px;
	padding-bottom:30px;
	position: relative;
}

.footer ul[role="social-icons"]{
	padding-top: 30px;
	margin:0;
	text-align:center;
	padding-bottom:40px;
}

.footer ul[role="social-icons"] > li{
	display: inline-block;
	margin:0 6px;
}

.footer ul[role="social-icons"] > li > a{
	display:block;
	width:42px;
	height:42px;
	background-color:#8591c9;
	color:#FFF;
	line-height:42px;
	font-size:20px;
	border-radius:100%;
	text-align:center;
}

.footer ul[role="social-icons"] > li:hover a{
	background-color:#75e4e5;
}

.footer .copy-right{
	text-align:center;
	display:block;
	font-size:12px;
	line-height:13px;
	color: #FFF;
}



/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
About Me
========================================================================== */
.index {
	height: 100%;
	display: block;
	/*background: #454545;*/
	/*background: -webkit-linear-gradient(left top, #f857a6, #ff5858); !* For Safari 5.1 to 6.0 *!*/
	/*background: -o-linear-gradient(bottom right,  #f857a6, #ff5858); !* For Opera 11.1 to 12.0 *!*/
	/*background: -moz-linear-gradient(bottom right,  #f857a6, #ff5858); !* For Firefox 3.6 to 15 *!*/
	/*background: linear-gradient(to bottom right,  #f857a6, #ff5858); !* Standard syntax *!*/
}
.index h2 span {
	color: #f5f5f5;
	font-family: 'Playfair Display', "Open Sans", serif;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image:url('../images/background1.png');
}


/* ==========================================================================
Skills
========================================================================== */
.skills {
	height: 100%;
	display: block;
	background: #454545;
	background: -webkit-linear-gradient(left top, #8d58c6, #75e4e5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right,  #8d58c6, #75e4e5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right,  #8d58c6, #75e4e5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right,  #8d58c6, #75e4e5); /* Standard syntax */
}
.skills .emphasized-container {
	position: relative;
}
.skills .emphasized-container .arrow {
	display: block;
	color: #fbfdff;
	font-size: 30px;
	top: 50%;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
}
.skills .emphasized-container .arrow.arrow-left {
	left: 10px;
	z-index: 100;
}
.skills .emphasized-container .arrow.arrow-right {
	right: 10px;
}
.skills .container {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.skills h2 span {
	text-align: center;
	color: #fbfdff;
}
.skills .container .skill {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 430px;
	font-size: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	border-radius: 4px;
	margin: 20px 5px;
	padding: 3rem;
	background-color: #fbfdff;
	box-shadow: 8px 8px 16px 4px rgba(0, 0, 0, 0.12);
}
.skills .container .skill p:nth-child(2) {
	margin: 1rem 0;
}
.skills .container .skill img {
	max-width: 80%;
	margin: 0 auto;
}
.skills .container .skill .picture {
	background-position: center;
	background-size: cover;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 0.5rem;
}
.skills .container .skill .name {
	color: #8591c9;
	/*background: -webkit-linear-gradient(#8c5ec1, #7ae1e2);*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
	font-size: 30px;
	line-height: 34px;
	font-family: 'Affogato', 'Open Sans', sans-serif;
}



/* ==========================================================================
Portfolio
========================================================================== */
.portfolio {
	height: auto;
	display: block;
	background: #f6f6f6;
}
.portfolio .emphasized-container {
	position: relative;
}

.portfolio a {
	display: inline-block;
	text-transform:uppercase;
	font-size:18px;
	color: #f6f6f6;
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	margin:0 13px
}

.portfolio h2 { color: #454545; }

.portfolio a:hover {
	text-decoration:none;
	color:#75e4e5;
}



/* ==========================================================================
Contact Me
========================================================================== */
.contact {
	text-align: center;
	background: #eee;
	background: -webkit-linear-gradient(45deg, #99D22B 10%, #FBFF00 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(45deg, #99D22B 10%, #FBFF00 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(45deg, #99D22B 10%, #FBFF00 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(45deg, #99D22B 10%, #FBFF00 90%); /* Standard syntax */
}


/* -------------------------------
Navigation
-------------------------------- */
.side-navigation {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 100vh;
	width: 94px;
	overflow: hidden;
}
.side-navigation::before {
	/* background color of the side navigation */
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: -webkit-calc(100% - 4px);
	width: calc(100% - 4px);
	background-color: #454545;
}
.side-navigation ul {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.side-navigation li {
	width: -webkit-calc(100% - 4px);
	width: calc(100% - 4px);
}
.side-navigation a {
	display: block;
	position: relative;
	padding: 1.5em 0 1.5em;
	font-family: 'Affogato-Regular', 'Open Sans', sans-serif;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	color: #f5f5f5;
	-webkit-transition: background-color 0.2s, color 0.2s;
	-moz-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
}
.side-navigation a > i {
	font-size: 20px;
}
.side-navigation a::after {
	/* 4px line to the right of the item - visible on hover */
	content: '';
	position: absolute;
	top: 0;
	right: -4px;
	height: 100%;
	width: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	pointer-events: none;
}
.side-navigation a:hover {
	border: 3px solid #fbfdff;
	color: #fbfdff;
}
.side-navigation  li:nth-of-type(5) a {padding-top: 10em;}
.side-navigation  li:nth-of-type(5) a:hover, .side-navigation  li:nth-of-type(6) a:hover,
.side-navigation  li:nth-of-type(7) a:hover, .side-navigation  li:nth-of-type(8) a:hover {
	border:none;
}
/*.no-touch .side-navigation a:hover {*/
	/*background-color: #8591c9;*/
	/*color: #8591c9;*/
/*}*/
/*.no-touch .side-navigation a:hover::after {*/
	/*opacity: 1;*/
/*}*/
.side-navigation a.selected, .no-touch .side-navigation a.selected {
	background-color: #fbfdff;
	color: #454545;
	border: 3px solid;
}
.side-navigation  li:nth-of-type(1) a:hover, .no-touch .side-navigation li:nth-of-type(1) a:hover,
.side-navigation  li:nth-of-type(1) a:hover > i, .no-touch .side-navigation li:nth-of-type(1) a:hover > i,
.side-navigation  li:nth-of-type(1) a.selected, .no-touch .side-navigation li:nth-of-type(1) a.selected,
.side-navigation  li:nth-of-type(1) a.selected > i, .no-touch .side-navigation li:nth-of-type(1) a.selected > i{
	background: -webkit-linear-gradient(#f857a6, #ff5858);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.side-navigation  li:nth-of-type(2) a:hover, .no-touch .side-navigation li:nth-of-type(2) a:hover,
.side-navigation  li:nth-of-type(2) a:hover > i, .no-touch .side-navigation li:nth-of-type(2) a:hover > i,
.side-navigation  li:nth-of-type(2) a.selected, .no-touch .side-navigation li:nth-of-type(2) a.selected,
.side-navigation  li:nth-of-type(2) a.selected > i, .no-touch .side-navigation li:nth-of-type(2) a.selected > i {
	background: -webkit-linear-gradient(#8d58c6, #75e4e5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.side-navigation  li:nth-of-type(3) a:hover, .no-touch .side-navigation li:nth-of-type(3) a:hover,
.side-navigation  li:nth-of-type(3) a:hover > i, .no-touch .side-navigation li:nth-of-type(3) a:hover > i,
.side-navigation  li:nth-of-type(3) a.selected, .no-touch .side-navigation li:nth-of-type(3) a.selected,
.side-navigation  li:nth-of-type(3) a.selected > i, .no-touch .side-navigation li:nth-of-type(3) a.selected > i {
	background: -webkit-linear-gradient(#8e9eab, #eef2f3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.side-navigation  li:nth-of-type(4) a:hover, .no-touch .side-navigation li:nth-of-type(4) a:hover,
.side-navigation  li:nth-of-type(4) a:hover > i, .no-touch .side-navigation li:nth-of-type(4) a:hover > i,
.side-navigation  li:nth-of-type(4) a.selected, .no-touch .side-navigation li:nth-of-type(4) a.selected,
.side-navigation  li:nth-of-type(4) a.selected > i, .no-touch .side-navigation li:nth-of-type(4) a.selected > i {
	background: -webkit-linear-gradient(#99D22B, #FBFF00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.side-navigation  li:nth-of-type(1) a:hover, .no-touch .side-navigation li:nth-of-type(1) a:hover,
.side-navigation li:nth-of-type(1) a.selected, .no-touch .side-navigation li:nth-of-type(1) a.selected {
	-webkit-border-image:
			-webkit-linear-gradient(#f857a6, #ff5858) 3 3 3 3 repeat;
	-moz-border-image:
			-moz-linear-gradient(#f857a6, #ff5858) 3 3 3 3 repeat;
	-o-border-image:
			-o-linear-gradient(#f857a6, #ff5858) 3 3 3 3 repeat;
	border-image:
			linear-gradient(to bottom, #f857a6, #ff5858) 3 3 3 3 repeat;
}
.side-navigation  li:nth-of-type(2) a:hover, .no-touch .side-navigation li:nth-of-type(2) a:hover,
.side-navigation li:nth-of-type(2) a.selected, .no-touch .side-navigation li:nth-of-type(2) a.selected {
	-webkit-border-image:
			-webkit-linear-gradient(#8d58c6, #75e4e5) 3 3 3 3 repeat;
	-moz-border-image:
			-moz-linear-gradient(#8d58c6, #75e4e5) 3 3 3 3 repeat;
	-o-border-image:
			-o-linear-gradient(#8d58c6, #75e4e5) 3 3 3 3 repeat;
	border-image:
			linear-gradient(to bottom, #8d58c6, #75e4e5) 3 3 3 3 repeat;
}
.side-navigation  li:nth-of-type(3) a:hover, .no-touch .side-navigation li:nth-of-type(3) a:hover,
.side-navigation li:nth-of-type(3) a.selected, .no-touch .side-navigation li:nth-of-type(3) a.selected {
	-webkit-border-image:
			-webkit-linear-gradient(#8e9eab, #eef2f3) 3 3 3 3 repeat;
	-moz-border-image:
			-moz-linear-gradient(#8e9eab, #eef2f3) 3 3 3 3 repeat;
	-o-border-image:
			-o-linear-gradient(#8e9eab, #eef2f3) 3 3 3 3 repeat;
	border-image:
			linear-gradient(to bottom, #8e9eab, #eef2f3) 3 3 3 3 repeat;
}
.side-navigation  li:nth-of-type(4) a:hover, .no-touch .side-navigation li:nth-of-type(4) a:hover,
.side-navigation li:nth-of-type(4) a.selected, .no-touch .side-navigation li:nth-of-type(4) a.selected {
	-webkit-border-image:
			-webkit-linear-gradient(#99D22B, #FBFF00) 3 3 3 3 repeat;
	-moz-border-image:
			-moz-linear-gradient(#99D22B, #FBFF00) 3 3 3 3 repeat;
	-o-border-image:
			-o-linear-gradient(#99D22B, #FBFF00) 3 3 3 3 repeat;
	border-image:
			linear-gradient(to bottom, #99D22B, #FBFF00) 3 3 3 3 repeat;
}


/* --------------------------------
 Loading Bar
-------------------------------- */
#loading-bar {
	position: fixed;
	z-index: 2;
	left: 70px;
	width: 4px;
	visibility: hidden;
	/* Force Hardware Acceleration */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
#loading-bar.index {
	background-color: #f857a6;
}
#loading-bar.skills {
	background-color: #8d58c6;
}
#loading-bar.projects {
	background-color: #eef2f3;
}
#loading-bar.contact {
	background-color: #99D22B;
}
#loading-bar.loading {
	visibility: visible;
}
@media only screen and (min-width: 480px) {
	#loading-bar {
		left: 90px;
	}
}
