@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* ==========================================================================
Fonts
========================================================================== */
@font-face {
	font-family: 'Affogato-Black';
	src: url('../fonts/Affogato/Affogato-Black.eot');
	src: url('../fonts/Affogato/Affogato-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Black.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Black.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Black.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Bold';
	src: url('../fonts/Affogato/Affogato-Bold.eot');
	src: url('../fonts/Affogato/Affogato-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Bold.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Bold.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Bold.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Medium';
	src: url('../fonts/Affogato/Affogato-Medium.eot');
	src: url('../fonts/Affogato/Affogato-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Medium.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Medium.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Medium.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Affogato-Regular';
	src: url('../fonts/Affogato/Affogato-Regular.eot');
	src: url('../fonts/Affogato/Affogato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Regular.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Regular.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Regular.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Affogato-Light';
	src: url('../fonts/Affogato/Affogato-Light.eot');
	src: url('../fonts/Affogato/Affogato-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Affogato/Affogato-Light.woff') format('woff'),
	url('../fonts/Affogato/Affogato-Light.woff2') format('woff2'),
	url('../fonts/Affogato/Affogato-Light.ttf')  format('truetype'),
	url('../fonts/Affogato/Affogato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
 *overflow:visible;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video, input, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, img, main {
	display: block
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

.clear {
	clear: both;
	line-height: 0;
	height: 0;
}

a {
	text-decoration: none;
	outline: none;
	color: #2d475f;
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
}

p {
	color: #454545;
	font-family: "Affogato-Medium", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

h2 span{
	text-align: center;
	display:block;
	font-family: 'Affogato-Bold', 'Open Sans', sans-serif;
	font-size:80px;
	text-transform: uppercase;
	line-height: 80px;
	color:#2d475f;
	background: rgba(248,249,249,0.9);
}

a:focus, img:focus, button:focus, .btn:focus {outline: none;}

::-moz-selection {background-color:#2d475f;color:#fff;text-shadow:none;}

::selection {background-color: #2d475f;color: #fff;text-shadow: none;}

.btn-theme {
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	color: #fff;
	background-color: #454545;
	border-color: #454545;
}
.btn-accent {
	font-size: 18px!important;
	color: #f5f5f5!important;
	border-color: #2d475f !important;
}

.main-button {
padding-top: 2em;
display: block;
text-align: center;
}

.main-button :hover {
	color: #fff !important;
	background-color: #2d475f !important;
	border-color: #2d475f !important;
}

.intro-scroll {
	z-index: 1000;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 0;
	width:100%;
}
.scroll {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #2d475f;
	transform: rotate(45deg);
	position: relative;
	margin-bottom: -52px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.32);

}
.scroll i {
	color: #f5f5f5;
	font-size: 25px;
	transform: rotate(-45deg);
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: 25px;
	/*-webkit-animation:bounce 1s infinite;*/
}

/*@-webkit-keyframes bounce {*/
	/*0%       {top:50vh }*/
	/*25%, 75% { top:51vh }*/
	/*50%      { top:52vh }*/
	/*100%     {top:50vh}*/
/*}*/
.line{
	width: 55px;
	padding-bottom: 25px;
	border-bottom: 5px solid #d1d05a;
}

/* ==========================================================================
Main
========================================================================== */

.main-home-wrapper,main[role="main-inner-wrapper"] {
	padding:90px 0;
	position: relative;
	background-color: #f6f6f6;
}

.main-home-wrapper article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{
	padding-bottom:19px;
	padding-top:83px;
}

.main-home-wrapper h2{
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	font-size:35px;
	line-height:40px;
	color:#d1d05a;
	font-weight:600;
}

.main-home-wrapper p{
	font-family: "Affogato-Medium", sans-serif;
	font-size:18px;
	line-height:30px;
	color:#454545;
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
	background-color:#f8f9f9;
	padding-top:30px;
	padding-bottom:30px;
	position: relative;
}

.footer > h1 a{
	margin:0 auto;
	display:block;
	max-width:66px;
}

footer[role="footer"] nav{
	padding-top:37px;
	padding-bottom:43px
}
.footer nav > ul{
	text-align:center;
	padding-top: 30px;
	margin:0;
}

.footer nav > ul > li{
	display: inline-block;
	text-transform:uppercase;
	font-size:15px;
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	margin:0 13px
}

.footer nav > ul > li > a{
	color:#fff;
}

.footer nav > ul > li:hover a{
	text-decoration:none;
	color:#77bcc7;
}

.footer ul[role="social-icons"]{
	padding-top: 30px;
	margin:0;
	text-align:center;
	padding-bottom:40px;
}

.footer ul[role="social-icons"] > li{
	display: inline-block;
	margin:0 6px;
}

.footer ul[role="social-icons"] > li > a{
	display:block;
	width:42px;
	height:42px;
	background-color:#fff;
	color:#2d475f;
	line-height:42px;
	font-size:20px;
	text-align:center;
	box-shadow: 5px 15px 30px rgba(0,0,0,.15);
}

.footer ul[role="social-icons"] > li:hover a{
	transform: rotate(-45deg);
	color:#d1d05a;
}

.footer .copy-right{
	text-align:center;
	display:block;
	font-size:12px;
	line-height:13px;
	color: #FFF;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}



/* ==========================================================================
Skills
========================================================================== */
.skills {
	padding-bottom: 4rem;
	height: auto;
	display: block;
}
.skills .emphasized-container {
	position: relative;
}
.skills .emphasized-container .arrow {
	display: block;
	color: #2d475f;
	font-size: 30px;
	top: 50%;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
}
.skills .emphasized-container .arrow.arrow-left:hover,
.skills .emphasized-container .arrow.arrow-right:hover {
	color: #d1d05a;
}
.skills .emphasized-container .arrow.arrow-left {
	left: 10px;
	z-index: 100;
}
.skills .emphasized-container .arrow.arrow-right {
	right: 10px;
}
.skills .container {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.skills .container .skill {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 430px;
	font-size: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	border-radius: 4px;
	margin: 20px 5px;
	padding: 3rem;
	background-color: white;
	box-shadow: 5px 15px 30px rgba(0,0,0,.15);
}
.skills .container .skill p:nth-child(2) {
	margin: 1rem 0;
}
.skills .container .skill .name {
	color: #2d475f;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
	font-weight: 300;
}



/* ==========================================================================
Featured
========================================================================== */
.featured {
	padding-bottom: 4rem;
	height: auto;
	display: block;
}
.featured .emphasized-container {
	position: relative;
}
.featured .project {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 430px;
	font-size: 1rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	border-radius: 4px;
	margin: 20px 5px;
	padding: 3rem;
	background-color: white;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.12);
}


.featured .project .name {
	color: #2d475f;
	font-weight: bold;
	font-size: 34px;
	line-height: 40px;
	text-transform: uppercase;
	font-family: 'Affogato-Bold', 'Open Sans', sans-serif;
}

.featured a {
	display: inline-block;
	text-transform:uppercase;
	font-size:18px;
	color: #f6f6f6;
	font-family: 'Affogato-Medium', 'Open Sans', sans-serif;
}

.featured a:hover {
	text-decoration:none;
	color:#77bcc7;
}

.grid-group:nth-child(odd) {
	clear: left;
}

/* ==========================================================================
Image Grid
========================================================================== */
.grid-image-item { float: left; position: relative; background-size: cover; background-position: center; overflow: hidden; }
.grid-image-item img { display: none; }
.grid-image-item-large { width: 67%; padding-bottom: 73.6%; }
.grid-image-item-small { width: 33%; padding-bottom: 36.8%; }
.grid-image-item-medium { width: 67%; padding-bottom: 36.8%; }
/* ==========================================================================
Grid
========================================================================== */
.grid { position: relative; list-style: none; overflow:hidden;}
.grid:after,
.grid-group:after { }
.grid-group { float: left; width: 50%; }
.grid-group:nth-child(odd) { clear: left; }
.grid-home { border-right: 5px solid #e5e9ea; border-bottom: 5px solid #e5e9ea;}
.grid-item { float: left; width: 100%; border-left: 5px solid #e5e9ea; border-top: 5px solid #e5e9ea; }
.grid-item a { display: block; position: relative; }
/* Mobile */
@media (max-width: 767px) {
	.grid-group { width: 100%; }
}
/* ==========================================================================
Grid Home
========================================================================== */
.grid-home  .grid-item-small { float: left; width: 50%; }
.grid-home  .grid-item-small a { padding-bottom: 106%; }
.grid-home  .grid-item-medium a { padding-bottom: 52.5%; }
.grid-home  .grid-item-large a { padding-bottom: 106%; }
.grid-home .grid-item-head { width: 100%; position: absolute; left: 0; top: 16px; padding: 0 50px 0 20px; z-index: 10; }
.grid-home .grid-item-head i { position: absolute; right: 20px; top: 50%; margin-top: -8px; color: #2d475f;}
.grid-home .grid-item-head h6 { font-weight: 900; font-size: .94vw; color: #d1d05a; text-transform: uppercase; letter-spacing: .15em; margin: 0; }
.grid-home .grid-item-content { width: 100%; position: absolute; left: 0; bottom: 20px; padding: 0 20px; z-index: 10; }
.grid-home .grid-item-content h5 { margin: 0; font-family: 'Affogato-Regular', sans-serif; font-size: 1.2vw; color: #d1d05a; letter-spacing: .05em; text-transform: uppercase; }
.grid-home .grid-item-image { width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; background-size: cover; background-position: center; }
.grid-home .grid-item-image img { display: none; }
.grid-home .grid-item-primary {background-color: #FFF;}
.grid-home .grid-item-primary h3 { font-family: 'Affogato-Medium', sans-serif; font-weight: 400; font-size: 2.53vw; color: #2d475f; line-height: .9; margin: 0 0 10px; text-transform: none;}
.grid-home .grid-item-primary h3.red { color: #2d475f; }
.grid-home .grid-item-primary .grid-item-content { padding-right: 40px; }
.grid-home .grid-item-primary .grid-item-content i { position: absolute; right: 20px; bottom: 0; color: #2d475f;}
.grid-home .grid-item-tertiary { background-color: #d1d05a; color: #fff; }
.grid-home .grid-item-tertiary h6 { color: #f6f6f6; text-transform: uppercase;}
.grid-home .grid-item-tertiary h4 { font-family: 'Affogato-Medium', sans-serif; font-weight: 700; font-size: 2.17vw; color: #f6f6f6; line-height: 1.1; text-transform: none;}
.grid-home .grid-item-quinary { background-color: #cd7455; }
.grid-home .grid-item-quinary h6 { color: #f6f6f6; }
.grid-home .grid-item-quinary h4 { width: 90%; font-family: 'Affogato-Medium', sans-serif; font-weight: 700; font-size: 2.17vw; color: #f6f6f6; line-height: 1.1; margin: 0; }

/* ==========================================================================
Contact Me
========================================================================== */
.contact-me {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background: #eee;}

.contact-me h2 {
	color: #2d475f;
}