@media only screen and (min-width: 1024px) {
    .featured .overlay-layer::after {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
}

ul { list-style: none;}
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container:after {
    content: "";
    display: table;
    clear: both;
}

.cd-item {
    position: relative;
    margin: 0 0 1em;
}

@media only screen and (min-width: 768px) {
    .cd-item {
        width: 48%;
        float: left;
        margin: 0 4% 2em 0;
    }
    .cd-item:nth-child(2n) {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-item {
        width: 30%;
        float: left;
        margin: 0 4% 2.8em 0;
    }
    .cd-item:nth-child(2n) {
        margin-right: 4%;
    }
    .cd-item:nth-child(3n) {
        margin-right: 0;
    }
    .cd-item.empty-box::after {
        /* box visible as placeholder when the .cd-quick-view zooms in */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #392c3f;
    }
}

.cd-trigger {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s, background-color 0.2s;
    -moz-transition: opacity 0.2s, background-color 0.2s;
    transition: opacity 0.2s, background-color 0.2s;
}
.no-touch .cd-trigger:hover {
    background: rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1024px) {
    .cd-trigger {
        /* always visible on small devices */
        visibility: visible;
        opacity: 1;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-trigger {
        /* only visible on hover on big devices */
        opacity: 0;
    }
}

@media only screen and (min-width: 1170px) {
    .no-touch .cd-item:hover .cd-trigger {
        opacity: 1;
    }

    .touch .cd-item .cd-trigger {
        opacity: 1;
    }
}
.cd-quick-view {
    /* quick view non available on small devices */
    display: none;
}
@media only screen and (min-width: 1024px) {
    .cd-quick-view {
        display: block;
        position: fixed;
        max-width: 900px;
        visibility: hidden;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: left, top, width;
        z-index: 1000;
    }
    .cd-quick-view:after {
        content: "";
        display: table;
        clear: both;
    }
    .cd-quick-view.is-visible {
        /* class added when user clicks on .cd-trigger */
        visibility: visible;
    }
    .cd-quick-view.animate-width {
        /* class added at the end of the first zoom-in animation */
        background-color: #ffffff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
    }
}

.cd-slider-wrapper {
    position: relative;
    display: inline-block;
    float: left;
}
.cd-slider-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.cd-slider {
    float: left;
}
.cd-slider li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.cd-slider li img {
    display: block;
    width: 100%;
    max-width: 400px;
}
.cd-slider li.selected {
    position: relative;
    z-index: 3;
}
.add-content .cd-slider {
    margin-right: 3em;
}

.cd-slider-navigation {
    opacity: 0;
}
.add-content .cd-slider-navigation {
    opacity: 1;
}

.cd-slider-navigation li {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3000;
}
.cd-slider-navigation li:first-child {
    left: 0;
}
.cd-slider-navigation li:last-child {
    /* equal to the .cd-slider-wrapper margin-right */
    right: 3em;
}
.cd-slider-navigation li a {
    display: block;
    width: 40px;
    height: 50px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.2s, background 0.2s;
    -moz-transition: opacity 0.2s, background 0.2s;
    transition: opacity 0.2s, background 0.2s;
}
.cd-slider-navigation li a::before, .cd-slider-navigation li a::after {
    /* create arrows in CSS */
    position: absolute;
    top: 18px;
    left: 14px;
    display: inline-block;
    background: #ffffff;
    height: 3px;
    width: 12px;
}
.cd-slider-navigation li a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-slider-navigation li a::after {
    -webkit-transform: translateY(7px) rotate(-45deg);
    -moz-transform: translateY(7px) rotate(-45deg);
    -ms-transform: translateY(7px) rotate(-45deg);
    -o-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
}
.add-content .cd-slider-navigation li a {
    opacity: .2;
}
.no-touch .cd-slider-navigation li a:hover {
    background: rgba(71, 55, 78, 0.8);
    opacity: 1;
}
.touch .cd-slider-navigation li a {
    opacity: 1;
}
.cd-slider-navigation li:first-child a::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-slider-navigation li:first-child a::after {
    -webkit-transform: translateY(7px) rotate(45deg);
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}

.cd-project-info {
    position: absolute;
    padding: 3em 3em 3em 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, visibility 0s;
    -moz-transition: opacity .3s, visibility 0s;
    transition: opacity .3s, visibility 0s;
}

.cd-project-info .cd-item-action li {
    display: inline-block;
    margin-right: 1em;
}
.cd-project-info .cd-item-action li:first-child {
    margin-left: -4px;
}
.cd-project-info .link {
    color: #f5f5f5;
}
.add-content .cd-project-info {
    /* class added at the end of the width animation, used to show the content */
    position: relative;
    visibility: visible;
    opacity: 1;
}
.add-content .cd-project-info h2 {
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
}
.add-content .cd-project-info p {
    -webkit-animation: cd-slide-in 0.4s;
    -moz-animation: cd-slide-in 0.4s;
    animation: cd-slide-in 0.4s;
}
.add-content .cd-project-info .cd-item-action {
    -webkit-animation: cd-slide-in 0.5s;
    -moz-animation: cd-slide-in 0.5s;
    animation: cd-slide-in 0.5s;
}

@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-40px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}
@-moz-keyframes cd-slide-in {
    0% {
        -moz-transform: translate3d(-40px, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}
@keyframes cd-slide-in {
    0% {
        -webkit-transform: translate3d(-40px, 0, 0);
        -moz-transform: translate3d(-40px, 0, 0);
        -ms-transform: translate3d(-40px, 0, 0);
        -o-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.cd-quick-view a {
    color: #454545;
    font-size: 30px;
    font-weight: bolder;
}
.cd-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 35px;
    height: 35px;
    /* image replacement */
    white-space: nowrap;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
    transition: transform .3s 0s, visibility 0s .3s;
}
.no-touch .cd-close:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.add-content .cd-close {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
    transition: transform .3s 0s, visibility 0s 0s;
}
